@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body{
  margin:0 ;
  font-family: 'Roboto',sans-serif;
  background: #223238;
}

body * {
  box-sizing: border-box;
}
.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item{
  margin: 10px 0px;
}

.content {
  height: 60%;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px;
  background: #87f0c49f;
  border-radius: 15px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.wrapper-logout{
  display: flex;
  border-radius: 20px;
  background: rgb(230, 133, 6);
  color: #ffff;
  padding: 5px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
}
.item >h3{
  color: #ffff !important;
}
